
{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Purchase Requests</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>

<!-- Content Row -->
<!-- Table comes in here -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Purchase Requests</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <th>Need</th>
                    <th>Description</th>
                    <th>Issuer</th>
                    <th>Date Created</th>
                    <th>Budget Estimate</th>
                    <th>Assigned to</th>
                </thead>
                <tfoot>
                    <th>Need</th>
                    <th>Description</th>
                    <th>Issuer</th>
                    <th>Date Created</th>
                    <th>Budget Estimate</th>
                    <th>Assigned to</th>
                </tfoot>
            </table>
        </div>
    </div>
</div>

{% endblock %}