{% extends 'user/base_login.html' %}
{% load static %}
{% block content %}
<!-- Nested Row within Card Body -->
<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Change Your Password</h1>
                <p class="mb-4">Please provide both your new and old passwords to reset your password</p>
            </div>
            <form class="user" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <!-- <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                        aria-describedby="emailHelp" placeholder="Enter Email Address..."> -->
                        {{ form.old_password }}
                </div>
                <div class="form-group">
                    {{ form.new_password1 }}
                </div>
                <div class="form-group">
                    {{ form.new_password2 }}
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Reset Password
                </button>
            </form>
            <hr>
            <div class="text-center">
                <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}