{% extends 'user/base_login.html' %}
{% load static %}
{% block content %}
<!-- Nested Row within Card Body -->
<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                <p class="mb-4">Incase you forgot your password, just enter your email address below
                    and we'll send you a link to reset your password!</p>
            </div>
            {% if form.errors %}
            <p class="small text-danger">There was something wrong with the email input you provided</p>
            {% endif %}
            {% if error %}
            <p class="small text-danger">{{ error }}</p>
            {% endif %}
            <form class="user" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.email }}
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Send Reset Link
                </button>
            </form>
            <hr>
            <div class="text-center">
                <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}