{% extends 'user/base_login.html' %}
{% load static %}
{% block content%}
<!-- Nested Row within Card Body -->
<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
            </div>
            <!-- django form -->
            {% if form.errors %}
            <p class="small text-center text-danger">Please check your username and password again</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p class="small text-center text-danger">Your account does not have access to this page. Please login to proceed</p>
                {% endif %}
            {% endif %}

            <form class="user" method="post" action="{%url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.password }}
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember
                            Me</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Login
                </button>
                <input type="hidden" name="next" value="{{ next }}">
            </form>

            <hr>
            <div class="text-center">
                <a class="small" href="{% url 'forgot-password' %}">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}