{% extends 'user/base_login.html' %}
{% load static %}
{% block content %}
<!-- Nested Row within Card Body -->
<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Create User Account</h1>
            </div>
            {% if form.errors %}
                {% for error in form.errors  %}
                    <p class="small text-danger">{{ error }}</p>
                {% endfor %}
            {% endif %}
            {% if error %}
            <p class="small text-danger">{{ error }}</p>
            {% endif %}
            <form class="user" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    {{ form.last_name }}
                </div>
                <div class="form-group">
                    {{ form.email }}
                </div>
                <div class="form-group">
                    {{ form.job_title }}
                </div>
                <div class="form-group">
                    {{ form.department }}
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Register User
                </button>
            </form>
            <hr>
            <div class="text-center">
                <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}