{% extends 'user/base_login.html' %}
{% load static %}
{% block content %}
<!-- Nested Row within Card Body -->
<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Reset Your Password</h1>
                <p class="mb-4">Please provide both your new and old passwords to reset your password</p>
            </div>
            {% if form.errors %}
                {% for key, value in form.errors.items %}
                    {% for val in value %}
                        <p class="small text-danger">{{ val }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% if error %}
            <p class="small text-danger">{{ error }}</p>
            {% endif %}
            <form class="user" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.new_password1.label }}
                    {{ form.new_password1 }}
                </div>
                <div class="form-group">
                    {{ form.new_password2.label }}
                    {{ form.new_password2 }}
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Reset Password
                </button>
            </form>
            <hr>
            <div class="text-center">
                <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}