<p>Dear {{ name }},</p>
<p>
    Your account has been created. Your temporary password is {{ password }} and username is
    {{ username }}. Login and use this <a href="{% url 'change-password' %}">link</a> to change your password.
</p>
<p>If this email was received in error please ignore it.</p>
<hr>
For support, please reach out to the Business Solutions team