<p>Dear {{name}}</p>,
Please reset your password by using this <a href="{% url url 'reset_link' %}"">link</a>. 
If this email was received in error, please ignore it.

<hr>
For support, please reach out to the Business Solutions team 
